/* Start Box */
.d-flex{
  display: flex;
}

.align-center{
  align-items: center;
}
/* End Box */

/* Start padding and margin */
.p-10{
  padding: 10px;
}

.p-15{
  padding: 15px;
}

.p-20{
  padding: 20px;
}

.m-20{
  margin: 20px;
}

/* End padding and margin */

/* Start Width and Height */
.w-full{
  width: 100%;
}


/* End Width and Height */

/* Start color */
.bg-white{
  background-color: white;
}

.c-black{
  color: black;
}
/* End color */

/* Start position */
.p-relative{
  position: relative;
}
/* End position */

/* Start font */
.txt-c{
  text-align: center;
}

.fs-14{
  font-size: 14px;
}
/* End font */


/* Start Border */
.rad-6{
  border-radius: 6px;
}
/* End Border */

/* Start components */
.between-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* End components */
