:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

/* Start Box */
.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-grid {
  display: grid;
}

.gap-20 {
  gap: 20px;
}

.d-block{
  display: block;
}

@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile{
    display: none;
  }
}
/* End Box */

/* Start padding and margin */
.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10{
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* End padding and margin */

/* Start Width and Height */
.w-full {
  width: 100%;
}

.w-fit{
  width: fit-content;
}

/* End Width and Height */

/* Start color */
.bg-white {
  background-color: white;
}

.bg-eee {
  background-color: #eee;
}

.bg-blue{
  background-color: var(--blue-color);
}

.bg-orange{
   background-color: var(--orange-color);
}

.bg-green{
  background-color: var(--green-color);
}

.c-black {
  color: black;
}

.c-white{
  color: white;
}

.c-blue{
  color: var(--blue-color);
}

.c-green{
  color: green;
}

.c-orange{
  color: var(--orange-color);
}

.c-gray {
  color: var(--grey-color);
}
/* End color */

/* Start position */
.p-relative {
  position: relative;
}
/* End position */

/* Start font */
.txt-c {
  text-align: center;
}

.fw-bold{
  font-weight: bold;
}

.fs-14 {
  font-size: 14px;
}

@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* End font */

/* Start Border */
.b-none{
  border: none;
}

.rad-6 {
  border-radius: 6px;
}

.rad-10 {
  border-radius: 10px;
}
/* End Border */

/* Start components */
.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-shape{
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-shape:hover{
  background-color: var(--blue-alt-color);
}
/* End components */
